In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
# Initial imports.
import pandas as pd
import numpy as np
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
import sklearn as skl
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [4]:
#Read the csv data into a dataframe
df = pd.read_csv(Path('Covid_19_dataV8_Confirmed_cases.csv'))
df.head()

,City,Province_State,Country_Region,Lat,Long,Confirmed_Cases,Cases_Per_Day,Last_Update,people_fully_vaccinated,Coordinates
0,NaN,NaN,Argentina,-38.4161,-63.6167,7694506.0,NaN,2022-01-22,34235912,"[-38.4161, -63.6167]"
1,NaN,Australian Capital Territory,Australia,-35.4735,149.0124,29240.0,NaN,2022-01-22,20106005,"[-35.4735, 149.0124]"
2,NaN,New South Wales,Australia,-33.8688,151.2093,939615.0,NaN,2022-01-22,20106005,"[-33.8688, 151.2093]"
3,NaN,Northern Territory,Australia,-12.4634,130.8456,8676.0,NaN,2022-01-22,20106005,"[-12.4634, 130.8456]"
4,NaN,Queensland,Australia,-27.4698,153.0251,298194.0,NaN,2022-01-22,20106005,"[-27.4698, 153.0251]"

## Preparing the data set

In [5]:
#Filter for the US
US_df = df.loc[df['Country_Region'] =='US']
US_df.head()

,City,Province_State,Country_Region,Lat,Long,Confirmed_Cases,Cases_Per_Day,Last_Update,people_fully_vaccinated,Coordinates
382,Autauga,Alabama,US,32.539527,-86.644082,13019.0,NaN,2022-01-22,210820617,"[32.53952745, -86.64408227]"
383,Baldwin,Alabama,US,30.727750,-87.722071,49168.0,NaN,2022-01-22,210820617,"[30.72774991, -87.72207058]"
384,Barbour,Alabama,US,31.868263,-85.387129,4902.0,NaN,2022-01-22,210820617,"[31.868263, -85.3871286]"
385,Bibb,Alabama,US,32.996421,-87.125115,5663.0,NaN,2022-01-22,210820617,"[32.99642064, -87.12511459999996]"
386,Blount,Alabama,US,33.982109,-86.567906,13131.0,NaN,2022-01-22,210820617,"[33.98210918, -86.56790593]"

In [6]:
Final_US_df = US_df.loc[US_df['Cases_Per_Day'] >=1]
                          
Final_US_df.head()

,City,Province_State,Country_Region,Lat,Long,Confirmed_Cases,Cases_Per_Day,Last_Update,people_fully_vaccinated,Coordinates
3590,Autauga,Alabama,US,32.539527,-86.644082,3741.0,3697.0,2020-12-21,11431,"[32.53952745, -86.64408227]"
3591,Baldwin,Alabama,US,30.727750,-87.722071,11827.0,11680.0,2020-12-21,11431,"[30.72774991, -87.72207058]"
3592,Barbour,Alabama,US,31.868263,-85.387129,1336.0,1304.0,2020-12-21,11431,"[31.868263, -85.3871286]"
3593,Bibb,Alabama,US,32.996421,-87.125115,1613.0,1571.0,2020-12-21,11431,"[32.99642064, -87.12511459999996]"
3594,Blount,Alabama,US,33.982109,-86.567906,4218.0,4164.0,2020-12-21,11431,"[33.98210918, -86.56790593]"

In [7]:
len(Final_US_df)

272866

In [8]:
#Filter for NY(DATAFRAME TO BE MERGED WITH PREDICTATED CONFIRMED CASES)
New_df = Final_US_df.loc[Final_US_df['Province_State'] =='New York']
New_df.tail()

,City,Province_State,Country_Region,Lat,Long,Confirmed_Cases,Cases_Per_Day,Last_Update,people_fully_vaccinated,Coordinates
1575681,Washington,New York,US,43.311538,-73.430434,1006.0,989.0,2021-01-07,637797,"[43.31153794, -73.43043448]"
1575682,Wayne,New York,US,43.154944,-77.029765,2942.0,2899.0,2021-01-07,637797,"[43.15494365, -77.02976528]"
1575683,Westchester,New York,US,41.162784,-73.757417,74157.0,72460.0,2021-01-07,637797,"[41.16278376, -73.75741653]"
1575684,Wyoming,New York,US,42.701451,-78.221996,1625.0,1598.0,2021-01-07,637797,"[42.70145109, -78.22199579]"
1575685,Yates,New York,US,42.635055,-77.103699,608.0,595.0,2021-01-07,637797,"[42.63505484, -77.10369919]"

In [9]:
NY_New_df = New_df.drop(['Coordinates'], axis=1)
NY_New_df

,City,Province_State,Country_Region,Lat,Long,Confirmed_Cases,Cases_Per_Day,Last_Update,people_fully_vaccinated
5417,Albany,New York,US,42.600603,-73.977239,9174.0,8994.0,2020-12-21,11431
5418,Allegany,New York,US,42.257484,-78.027505,1559.0,1491.0,2020-12-21,11431
5419,Bronx,New York,US,40.852093,-73.862828,78599.0,73525.0,2020-12-21,11431
5420,Broome,New York,US,42.159032,-75.813261,7004.0,6818.0,2020-12-21,11431
5421,Cattaraugus,New York,US,42.247782,-78.679231,2037.0,2004.0,2020-12-21,11431
...,...,...,...,...,...,...,...,...,...
1575681,Washington,New York,US,43.311538,-73.430434,1006.0,989.0,2021-01-07,637797
1575682,Wayne,New York,US,43.154944,-77.029765,2942.0,2899.0,2021-01-07,637797
1575683,Westchester,New York,US,41.162784,-73.757417,74157.0,72460.0,2021-01-07,637797
1575684,Wyoming,New York,US,42.701451,-78.221996,1625.0,1598.0,2021-01-07,637797
1575685,Yates,New York,US,42.635055,-77.103699,608.0,595.0,2021-01-07,637797

In [10]:
#Encode the categorical data
encoded_US_df = pd.get_dummies(NY_New_df, columns=["City","Province_State","Country_Region","Last_Update", "Lat", "Long" ])
encoded_US_df.head(5)

,Confirmed_Cases,Cases_Per_Day,people_fully_vaccinated,City_Albany,City_Allegany,City_Bronx,City_Broome,City_Cattaraugus,City_Cayuga,City_Chautauqua,...,Long_-73.77297842,Long_-73.75741653,Long_-73.74965532,Long_-73.74356679,Long_-73.67875352,Long_-73.63089095,Long_-73.58941873,Long_-73.51089874,Long_-73.43043448,Long_-72.8012172
5417,9174.0,8994.0,11431,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5418,1559.0,1491.0,11431,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5419,78599.0,73525.0,11431,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5420,7004.0,6818.0,11431,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5421,2037.0,2004.0,11431,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

## Defining the features and target

In [12]:
#features set
X = encoded_US_df.copy()
X = encoded_US_df.drop('Confirmed_Cases', axis=1)
X.head

<bound method NDFrame.head of          Cases_Per_Day  people_fully_vaccinated  City_Albany  City_Allegany  \
5417            8994.0                    11431            1              0
5418            1491.0                    11431            0              1
5419           73525.0                    11431            0              0
5420            6818.0                    11431            0              0
5421            2004.0                    11431            0              0
...                ...                      ...          ...            ...
1575681          989.0                   637797            0              0
1575682         2899.0                   637797            0              0
1575683        72460.0                   637797            0              0
1575684         1598.0                   637797            0              0
1575685          595.0                   637797            0              0

         City_Bronx  City_Broome  City_Cattaraugus  City_Cayuga  \
5417              0            0                 0            0
5418              0            0                 0            0
5419              1            0                 0            0
5420              0            1                 0            0
5421              0            0                 1            0
...             ...          ...               ...          ...
1575681           0            0                 0            0
1575682           0            0                 0            0
1575683           0            0                 0            0
1575684           0            0                 0            0
1575685           0            0                 0            0

         City_Chautauqua  City_Chemung  ...  Long_-73.77297842  \
5417                   0             0  ...                  0
5418                   0             0  ...                  0
5419                   0             0  ...                  0
5420                   0             0  ...                  0
5421                   0             0  ...                  0
...                  ...           ...  ...                ...
1575681                0             0  ...                  0
1575682                0             0  ...                  0
1575683                0             0  ...                  0
1575684                0             0  ...                  0
1575685                0             0  ...                  0

         Long_-73.75741653  Long_-73.74965532  Long_-73.74356679  \
5417                     0                  0                  0
5418                     0                  0                  0
5419                     0                  0                  0
5420                     0                  0                  0
5421                     0                  0                  0
...                    ...                ...                ...
1575681                  0                  0                  0
1575682                  0                  0                  0
1575683                  1                  0                  0
1575684                  0                  0                  0
1575685                  0                  0                  0

         Long_-73.67875352  Long_-73.63089095  Long_-73.58941873  \
5417                     0                  0                  0
5418                     0                  0                  0
5419                     0                  0                  0
5420                     0                  0                  0
5421                     0                  0                  0
...                    ...                ...                ...
1575681                  0                  0                  0
1575682                  0                  0                  0
1575683                  0                  0                  0
1575684                  0                  0                  0
1575685                  0                  0                  0

         Long_-73.51089874  Long_-73.43043448  Long_-72.8012172
5417                     0                  0                 0
5418                     0                  0                 0
5419                     0                  0                 0
5420                     0                  0                 0
5421                     0                  0                 0
...                    ...                ...               ...
1575681                  0                  1                 0
1575682                  0                  0                 0
1575683                  0                  0                 0
1575684                  0                  0                 0
1575685                  0                  0                 0

[5270 rows x 275 columns]>

In [13]:
X.shape

(5270, 275)

In [14]:
#target set
y = encoded_US_df["Confirmed_Cases"]
y[:5]

5417     9174.0
5418     1559.0
5419    78599.0
5420     7004.0
5421     2037.0
Name: Confirmed_Cases, dtype: float64

## Spliting, fitting and predicting the results of the test set

In [15]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(3952, 275) (1318, 275) (3952,) (1318,)

In [16]:
# Fitting Random Forest Regression to the dataset
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 20, random_state = 42)
regressor = regressor.fit(X_train, y_train)

In [17]:
y_pred = regressor.predict(X_test)
y_pred

array([  2311.9 , 102758.1 ,   9733.15, ...,    678.3 , 127987.75,
         4458.85])

In [18]:
#print the realvalues vs. the predictated values
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
df

         Real Values  Predicted Values
1064418       2342.0           2311.90
790559      101816.0         102758.10
1402858       9780.0           9733.15
1223311       1469.0           1468.10
1230242       4647.0           4631.05
...              ...               ...
449381       49671.0          49917.25
606097        3797.0           3795.90
1517784        675.0            678.30
282434      128917.0         127987.75
959668        4458.0           4458.85

[1318 rows x 2 columns]

In [19]:
#calculate the accuracy score
accuracy = regressor.score(X_train,y_train)
accuracy

0.9999696855873852

In [20]:
print("Training Accuracy = ", regressor.score(X_train, y_train))
print("Test Accuracy = ", regressor.score(X_test, y_test))

Training Accuracy =  0.9999696855873852
Test Accuracy =  0.999857236597642

In [21]:
# Making predictions using the testing data.
predictions = regressor.predict(X_test)
predictions

array([  2311.9 , 102758.1 ,   9733.15, ...,    678.3 , 127987.75,
         4458.85])

In [24]:
# Calculate feature importance in the Random Forest model.
importances = regressor.feature_importances_
importances

array([9.99472946e-01, 4.38211457e-04, 2.70678880e-09, 8.00433019e-10,
       2.98368075e-06, 1.52342681e-09, 1.31543615e-10, 4.04962288e-10,
       8.01965810e-10, 1.88644841e-10, 1.00183053e-10, 8.45262090e-10,
       8.15554303e-10, 1.99331836e-10, 6.41845509e-11, 4.27984740e-09,
       4.41213267e-08, 3.43198530e-11, 2.77913140e-10, 1.97300531e-10,
       1.31094288e-09, 1.49889700e-10, 5.72472252e-08, 3.79322122e-10,
       6.19890852e-10, 1.38686694e-06, 1.06579142e-10, 1.82518941e-10,
       3.80180119e-10, 9.06933317e-08, 8.31521555e-10, 1.81275705e-06,
       1.01740339e-06, 1.12231368e-09, 1.44908851e-09, 6.64983141e-09,
       1.47042172e-10, 1.12367489e-08, 1.28653426e-09, 2.00871893e-10,
       1.32842796e-10, 1.21363862e-09, 1.68251716e-06, 4.96597804e-10,
       9.55160387e-08, 1.62351649e-08, 2.34021073e-09, 7.31936490e-10,
       1.07760013e-10, 7.63959744e-12, 4.44042848e-10, 1.94290262e-10,
       3.48486377e-09, 2.20513714e-06, 2.16161526e-10, 1.17009151e-10,
       6.58865075e-10, 1.56352219e-09, 2.36513439e-10, 5.43740758e-11,
       3.21749830e-10, 1.55674703e-06, 2.16560020e-10, 1.86390192e-11,
       0.00000000e+00, 0.00000000e+00, 5.07442634e-07, 3.05901243e-07,
       3.30399228e-07, 1.09178054e-07, 3.21848117e-08, 2.84383466e-07,
       1.49482325e-07, 9.79303748e-08, 5.39385649e-08, 1.17394961e-07,
       4.85071780e-08, 1.88913253e-07, 1.83520955e-07, 2.53315197e-07,
       5.50297142e-07, 7.80299878e-08, 1.63280154e-07, 2.96437085e-07,
       2.26288667e-07, 5.12851762e-07, 8.67482961e-07, 2.43262680e-07,
       2.38698017e-07, 2.65011029e-07, 2.81190728e-07, 4.92855319e-08,
       9.77511372e-07, 1.23818745e-06, 1.35880666e-07, 8.60380461e-08,
       3.24078321e-07, 2.89033954e-07, 5.05565546e-07, 9.71157044e-07,
       6.87882378e-07, 3.82641527e-07, 6.15143310e-07, 1.30558864e-06,
       1.11517810e-06, 6.77555199e-07, 1.40370117e-06, 7.69728353e-07,
       2.36206992e-07, 9.13268660e-07, 4.43337459e-07, 4.46280494e-07,
       8.73056349e-07, 8.55195131e-07, 9.10552494e-07, 2.96542233e-07,
       6.13463576e-07, 1.24072079e-07, 1.64834018e-07, 8.83316540e-08,
       1.54316458e-07, 3.50870492e-07, 6.72246704e-07, 4.97228444e-07,
       3.10434892e-07, 2.28581500e-07, 1.28800158e-06, 6.69639231e-07,
       5.17705042e-07, 1.76614997e-07, 3.66106064e-07, 1.56463295e-07,
       1.59864123e-06, 5.89966829e-08, 4.27523557e-07, 2.72924529e-07,
       2.74626785e-07, 4.47203537e-07, 1.37560648e-07, 7.81972366e-07,
       8.32480888e-07, 6.01622544e-07, 2.19308585e-07, 2.56735631e-07,
       6.88819146e-07, 1.86676463e-07, 1.27510854e-07, 1.40575736e-07,
       8.26959931e-08, 2.24673695e-07, 9.93717726e-07, 9.06129698e-08,
       2.20431740e-06, 8.89776223e-07, 2.82108780e-06, 8.37167543e-07,
       4.05248973e-06, 5.41819751e-06, 3.13906357e-08, 1.46380514e-06,
       1.40467438e-08, 6.48078581e-10, 2.75711616e-10, 6.96818884e-09,
       1.46478451e-09, 1.78469740e-10, 1.19068891e-09, 2.22119767e-10,
       5.52138087e-11, 6.58737427e-10, 1.27284248e-10, 7.31675904e-10,
       9.31395040e-10, 2.40208162e-09, 1.39423227e-10, 7.10406747e-12,
       9.85739236e-10, 1.21006272e-10, 2.23243237e-10, 2.31586573e-10,
       1.51085138e-09, 1.35404328e-10, 3.55579456e-11, 1.27862061e-10,
       4.64939190e-10, 1.23762954e-10, 7.81083511e-08, 4.59436409e-10,
       8.05718440e-10, 1.36125292e-10, 7.71553022e-10, 3.97955180e-10,
       4.08803057e-10, 1.48687929e-09, 1.06051123e-08, 2.50410856e-09,
       1.90654958e-10, 2.42865350e-08, 2.79465180e-10, 6.76711356e-10,
       1.04667554e-09, 1.37125163e-09, 5.88638251e-11, 3.40838755e-10,
       2.56264149e-10, 1.70417843e-10, 3.12557581e-08, 1.02150829e-10,
       6.65175108e-10, 2.58233266e-11, 1.37554499e-10, 3.38664741e-10,
       1.05584837e-09, 1.02055497e-09, 9.08393346e-10, 1.02283014e-07,
       2.08775205e-10, 1.33389884e-09, 1.33858800e-10, 1.02534735e-09,
       7.28479579e-10, 1.72682890e-10, 7.43317982e-08, 3.18160330e-09,
       1.39399445e-10, 2.48913810e-11, 2.81130527e-10, 9.49679186e-12,
       4.06569477e-10, 2.97172017e-10, 4.94834896e-10, 6.55008169e-10,
       2.04802898e-10, 1.46152044e-08, 2.72170570e-10, 2.57039177e-10,
       3.74429194e-10, 1.67338974e-09, 4.83028512e-10, 7.14197181e-11,
       7.47964554e-11, 2.24408585e-09, 1.62756725e-10, 1.97599677e-10,
       4.11582132e-11, 3.51860479e-10, 3.80286607e-10, 6.02656556e-08,
       1.04813693e-10, 9.96593725e-10, 2.33015654e-10, 9.91580646e-09,
       2.57441359e-10, 2.16615556e-09, 1.18402785e-07, 1.06542503e-10,
       5.65323867e-10, 2.38949589e-08, 1.06480253e-09, 4.70762072e-07,
       4.23223336e-06, 2.84649151e-09, 3.51775324e-06, 1.74299498e-10,
       2.36617413e-06, 3.57520988e-11, 1.50801874e-06, 7.71210136e-10,
       5.23781962e-09, 7.90348654e-10, 5.56770394e-10, 3.75094992e-06,
       5.86910054e-10, 6.36251113e-11, 3.92996226e-06])

In [20]:
# sort the features by their importance.
sorted(zip(regressor.feature_importances_, X.columns), reverse=True)

[(0.9994729458153099, 'Cases_Per_Day'),
 (0.0004382114573921991, 'people_fully_vaccinated'),
 (5.418197511372874e-06, 'Lat_40.88320119'),
 (4.2322333589289215e-06, 'Long_-73.94935552'),
 (4.052489725067331e-06, 'Lat_40.85209301'),
 (3.929962262054508e-06, 'Long_-72.8012172'),
 (3.750949918270618e-06, 'Long_-73.58941873'),
 (3.5177532409387253e-06, 'Long_-73.86282755'),
 (2.9836807531781334e-06, 'City_Bronx'),
 (2.821087800428009e-06, 'Lat_40.74066522'),
 (2.366174126374376e-06, 'Long_-73.81684712'),
 (2.205137137867503e-06, 'City_Suffolk'),
 (2.204317403442446e-06, 'Lat_40.6361825'),
 (1.8127570455508706e-06, 'City_Nassau'),
 (1.6825171603342955e-06, 'City_Queens'),
 (1.5986412332323689e-06, 'Last_Update_2021-02-17'),
 (1.5567470333299785e-06, 'City_Westchester'),
 (1.5080187436932733e-06, 'Long_-73.75741653'),
 (1.4638051441351321e-06, 'Lat_41.16278376'),
 (1.4037011743362137e-06, 'Last_Update_2021-01-22'),
 (1.3868669368144223e-06, 'City_Kings'),
 (1.3055886381622374e-06, 'Last_Update_2021-01-19'),
 (1.288001582676903e-06, 'Last_Update_2021-02-11'),
 (1.2381874537619328e-06, 'Last_Update_2021-01-09'),
 (1.1151780988669178e-06, 'Last_Update_2021-01-20'),
 (1.017403386043611e-06, 'City_New York'),
 (9.93717726083039e-07, 'Last_Update_2021-03-07'),
 (9.775113722304488e-07, 'Last_Update_2021-01-08'),
 (9.71157044388828e-07, 'Last_Update_2021-01-15'),
 (9.132686598987194e-07, 'Last_Update_2021-01-25'),
 (9.105524940323655e-07, 'Last_Update_2021-01-30'),
 (8.897762227723284e-07, 'Lat_40.71088124'),
 (8.730563488357596e-07, 'Last_Update_2021-01-28'),
 (8.674829614127477e-07, 'Last_Update_2021-01-02'),
 (8.551951308679389e-07, 'Last_Update_2021-01-29'),
 (8.371675432771225e-07, 'Lat_40.76727260000001'),
 (8.32480887870758e-07, 'Last_Update_2021-02-25'),
 (7.819723658902e-07, 'Last_Update_2021-02-24'),
 (7.697283529895428e-07, 'Last_Update_2021-01-23'),
 (6.88819146290995e-07, 'Last_Update_2021-03-01'),
 (6.878823775861312e-07, 'Last_Update_2021-01-16'),
 (6.775551986693222e-07, 'Last_Update_2021-01-21'),
 (6.72246704437213e-07, 'Last_Update_2021-02-07'),
 (6.696392309043083e-07, 'Last_Update_2021-02-12'),
 (6.151433104441206e-07, 'Last_Update_2021-01-18'),
 (6.134635760293182e-07, 'Last_Update_2021-02-01'),
 (6.016225443711495e-07, 'Last_Update_2021-02-26'),
 (5.502971417644765e-07, 'Last_Update_2020-12-27'),
 (5.177050416316019e-07, 'Last_Update_2021-02-13'),
 (5.12851762160364e-07, 'Last_Update_2021-01-01'),
 (5.074426340256106e-07, 'Last_Update_2020-12-13'),
 (5.055655464154585e-07, 'Last_Update_2021-01-14'),
 (4.972284444609935e-07, 'Last_Update_2021-02-08'),
 (4.7076207191510174e-07, 'Long_-73.97152637'),
 (4.4720353679836577e-07, 'Last_Update_2021-02-22'),
 (4.4628049437517264e-07, 'Last_Update_2021-01-27'),
 (4.4333745932013874e-07, 'Last_Update_2021-01-26'),
 (4.275235573891219e-07, 'Last_Update_2021-02-19'),
 (3.826415271493139e-07, 'Last_Update_2021-01-17'),
 (3.661060636680065e-07, 'Last_Update_2021-02-15'),
 (3.508704920810152e-07, 'Last_Update_2021-02-06'),
 (3.303992283004415e-07, 'Last_Update_2020-12-15'),
 (3.240783211132175e-07, 'Last_Update_2021-01-12'),
 (3.1043489241333775e-07, 'Last_Update_2021-02-09'),
 (3.0590124272996866e-07, 'Last_Update_2020-12-14'),
 (2.965422333877731e-07, 'Last_Update_2021-01-31'),
 (2.964370853509229e-07, 'Last_Update_2020-12-30'),
 (2.8903395355287284e-07, 'Last_Update_2021-01-13'),
 (2.8438346629533687e-07, 'Last_Update_2020-12-18'),
 (2.811907276823134e-07, 'Last_Update_2021-01-06'),
 (2.7462678507255785e-07, 'Last_Update_2021-02-21'),
 (2.7292452936130826e-07, 'Last_Update_2021-02-20'),
 (2.6501102926649995e-07, 'Last_Update_2021-01-05'),
 (2.5673563114032937e-07, 'Last_Update_2021-02-28'),
 (2.533151966591988e-07, 'Last_Update_2020-12-26'),
 (2.432626798587287e-07, 'Last_Update_2021-01-03'),
 (2.3869801696501833e-07, 'Last_Update_2021-01-04'),
 (2.3620699182481529e-07, 'Last_Update_2021-01-24'),
 (2.2858149982827888e-07, 'Last_Update_2021-02-10'),
 (2.2628866698181765e-07, 'Last_Update_2020-12-31'),
 (2.2467369493395062e-07, 'Last_Update_2021-03-06'),
 (2.1930858501075345e-07, 'Last_Update_2021-02-27'),
 (1.8891325284163434e-07, 'Last_Update_2020-12-24'),
 (1.8667646304576716e-07, 'Last_Update_2021-03-02'),
 (1.8352095542095104e-07, 'Last_Update_2020-12-25'),
 (1.7661499742305803e-07, 'Last_Update_2021-02-14'),
 (1.6483401801515542e-07, 'Last_Update_2021-02-03'),
 (1.6328015403222309e-07, 'Last_Update_2020-12-29'),
 (1.5646329496227384e-07, 'Last_Update_2021-02-16'),
 (1.5431645823547663e-07, 'Last_Update_2021-02-05'),
 (1.4948232495965617e-07, 'Last_Update_2020-12-19'),
 (1.4057573599543062e-07, 'Last_Update_2021-03-04'),
 (1.3756064760386706e-07, 'Last_Update_2021-02-23'),
 (1.3588066636472368e-07, 'Last_Update_2021-01-10'),
 (1.2751085438901678e-07, 'Last_Update_2021-03-03'),
 (1.2407207873599354e-07, 'Last_Update_2021-02-02'),
 (1.1840278477110668e-07, 'Long_-74.14808598'),
 (1.1739496062372976e-07, 'Last_Update_2020-12-22'),
 (1.091780538971281e-07, 'Last_Update_2020-12-16'),
 (1.0228301383883782e-07, 'Long_-78.73063652'),
 (9.793037478791813e-08, 'Last_Update_2020-12-20'),
 (9.551603869221405e-08, 'City_Richmond'),
 (9.069333166849262e-08, 'City_Monroe'),
 (9.061296983881274e-08, 'Lat_40.58582155'),
 (8.833165397149581e-08, 'Last_Update_2021-02-04'),
 (8.603804608666546e-08, 'Last_Update_2021-01-11'),
 (8.269599314865255e-08, 'Last_Update_2021-03-05'),
 (7.810835107151215e-08, 'Lat_42.76249024'),
 (7.802998783062524e-08, 'Last_Update_2020-12-28'),
 (7.433179816310119e-08, 'Long_-77.69322942'),
 (6.026565555987929e-08, 'Long_-74.49721957'),
 (5.8996682909987487e-08, 'Last_Update_2021-02-18'),
 (5.7247225163397915e-08, 'City_Hamilton'),
 (5.393856492243351e-08, 'Last_Update_2020-12-21'),
 (4.9285531890113455e-08, 'Last_Update_2021-01-07'),
 (4.85071780210127e-08, 'Last_Update_2020-12-23'),
 (4.412132673109794e-08, 'City_Erie'),
 (3.218481173400033e-08, 'Last_Update_2020-12-17'),
 (3.139063573838269e-08, 'Lat_41.15027894'),
 (3.1255758084881444e-08, 'Lat_43.66146647'),
 (2.428653498384524e-08, 'Lat_43.14638895'),
 (2.3894958884397013e-08, 'Long_-74.02560498'),
 (1.623516490163392e-08, 'City_Rockland'),
 (1.461520441681618e-08, 'Long_-76.19971155'),
 (1.4046743842904677e-08, 'Lat_41.40337468'),
 (1.1236748866772167e-08, 'City_Orange'),
 (1.0605112279250678e-08, 'Lat_43.00491923'),
 (9.915806463509194e-09, 'Long_-74.30240757'),
 (6.968188838727779e-09, 'Lat_41.76486060000001'),
 (6.649831413418788e-09, 'City_Onondaga'),
 (5.237819617549521e-09, 'Long_-73.74356679'),
 (4.279847397289129e-09, 'City_Dutchess'),
 (3.4848637729969915e-09, 'City_Steuben'),
 (3.1816033011606983e-09, 'Long_-77.3829924'),
 (2.8464915118557976e-09, 'Long_-73.86653895'),
 (2.7067888025300208e-09, 'City_Albany'),
 (2.5041085556890086e-09, 'Lat_43.10904162'),
 (2.4020816185325008e-09, 'Lat_42.2689144'),
 (2.3402107259425474e-09, 'City_Saratoga'),
 (2.24408585373691e-09, 'Long_-75.43710392'),
 (2.1661555556041285e-09, 'Long_-74.26252104'),
 (1.6733897394066348e-09, 'Long_-75.81326086'),
 (1.563522191309444e-09, 'City_Ulster'),
 (1.5234268149970672e-09, 'City_Broome'),
 (1.5108513821581533e-09, 'Lat_42.60060306'),
 (1.4868792871843778e-09, 'Lat_43.0022601'),
 (1.464784508548611e-09, 'Lat_41.89027881'),
 (1.4490885118256478e-09, 'City_Oneida'),
 (1.371251634080352e-09, 'Lat_43.2516977'),
 (1.3338988448643952e-09, 'Long_-78.2320066'),
 (1.3109428812653953e-09, 'City_Genesee'),
 (1.286534258172548e-09, 'City_Orleans'),
 (1.2136386219793001e-09, 'City_Putnam'),
 (1.1906889104718793e-09, 'Lat_42.15903158'),
 (1.1223136821328328e-09, 'City_Niagara'),
 (1.0648025268718006e-09, 'Long_-73.97723916'),
 (1.055848367254433e-09, 'Lat_44.74530905'),
 (1.0466755404422746e-09, 'Lat_43.24375382'),
 (1.0253473545541311e-09, 'Long_-78.19135193'),
 (1.0205549708669237e-09, 'Long_-79.36691763'),
 (9.965937246754494e-10, 'Long_-74.44011632'),
 (9.85739236381605e-10, 'Lat_42.44945765'),
 (9.313950401888544e-10, 'Lat_42.25748406'),
 (9.083933459646062e-10, 'Long_-78.74777412'),
 (8.452620904098682e-10, 'City_Clinton'),
 (8.315215549671568e-10, 'City_Montgomery'),
 (8.155543034553247e-10, 'City_Columbia'),
 (8.057184395722558e-10, 'Lat_42.81668777'),
 (8.019658103300754e-10, 'City_Chautauqua'),
 (8.004330187401456e-10, 'City_Allegany'),
 (7.90348653972925e-10, 'Long_-73.67875352'),
 (7.715530218314464e-10, 'Lat_42.90123494'),
 (7.712101357786614e-10, 'Long_-73.74965532'),
 (7.319364901104616e-10, 'City_Schenectady'),
 (7.316759041587232e-10, 'Lat_42.24819348'),
 (7.284795785758744e-10, 'Long_-78.02750466'),
 (6.767113559754647e-10, 'Lat_43.19898042'),
 (6.651751075163663e-10, 'Lat_44.04200959'),
 (6.588650746614541e-10, 'City_Tompkins'),
 (6.587374273864467e-10, 'Lat_42.22769210000001'),
 (6.550081691078993e-10, 'Long_-76.47229843'),
 (6.480785812862843e-10, 'Lat_41.42630093'),
 (6.19890851913225e-10, 'City_Jefferson'),
 (5.869100535309214e-10, 'Long_-73.51089874'),
 (5.653238667095278e-10, 'Long_-74.05278291'),
 (5.567703936603776e-10, 'Long_-73.63089095'),
 (4.965978035993415e-10, 'City_Rensselaer'),
 (4.948348956209676e-10, 'Long_-76.55731592'),
 (4.830285121332801e-10, 'Long_-75.67266639'),
 (4.649391903267485e-10, 'Lat_42.71348136'),
 (4.59436408612787e-10, 'Lat_42.78081007'),
 (4.440428479428873e-10, 'City_Seneca'),
 (4.08803056789262e-10, 'Lat_42.91653905'),
 (4.065694766372773e-10, 'Long_-76.82497064'),
 (4.0496228796458053e-10, 'City_Cayuga'),
 (3.979551804910507e-10, 'Lat_42.91261714'),
 (3.802866071507241e-10, 'Long_-74.76394559'),
 (3.8018011939575557e-10, 'City_Madison'),
 (3.793221220448634e-10, 'City_Herkimer'),
 (3.744291939669878e-10, 'Long_-75.94653457'),
 (3.51860478604404e-10, 'Long_-74.96145307'),
 (3.40838755030525e-10, 'Lat_43.42034246'),
 (3.3866474102102343e-10, 'Lat_44.59040891'),
 (3.2174982958058057e-10, 'City_Wayne'),
 (2.971720173255724e-10, 'Long_-76.7638805'),
 (2.811305273236874e-10, 'Long_-77.02976528'),
 (2.7946517975214614e-10, 'Lat_43.15494365'),
 (2.7791314043575787e-10, 'City_Franklin'),
 (2.7571161602422866e-10, 'Lat_41.71579493'),
 (2.721705696289341e-10, 'Long_-76.14635194'),
 (2.5744135897212247e-10, 'Long_-74.29926032'),
 (2.5703917695464983e-10, 'Long_-76.07048931'),
 (2.5626414945249513e-10, 'Lat_43.42778894'),
 (2.3651343935120964e-10, 'City_Warren'),
 (2.3301565385458943e-10, 'Long_-74.41798804'),
 (2.3158657310190548e-10, 'Lat_42.59509207'),
 (2.232432366001129e-10, 'Lat_42.58831742'),
 (2.2211976706331983e-10, 'Lat_42.16852837'),
 (2.165600204403712e-10, 'City_Wyoming'),
 (2.1616152577370628e-10, 'City_Sullivan'),
 (2.08775205227827e-10, 'Long_-78.67923096'),
 (2.0480289799791898e-10, 'Long_-76.30835812'),
 (2.0087189314890973e-10, 'City_Oswego'),
 (1.9933183602263076e-10, 'City_Cortland'),
 (1.9759967692884916e-10, 'Long_-75.03151402'),
 (1.973005313394107e-10, 'City_Fulton'),
 (1.9429026187266495e-10, 'City_St. Lawrence'),
 (1.9065495822435838e-10, 'Lat_43.11363907'),
 (1.8864484124397072e-10, 'City_Chemung'),
 (1.825189410725733e-10, 'City_Livingston'),
 (1.7846974002365456e-10, 'Lat_42.13891056'),
 (1.7429949844432763e-10, 'Long_-73.8433699'),
 (1.7268288986631662e-10, 'Long_-77.77966158'),
 (1.704178432704618e-10, 'Lat_43.56173026'),
 (1.6275672515964723e-10, 'Long_-75.06550039'),
 (1.4988969959134935e-10, 'City_Greene'),
 (1.47042171928169e-10, 'City_Ontario'),
 (1.3942322688545645e-10, 'Lat_42.275797'),
 (1.3939944469885863e-10, 'Long_-77.30874425'),
 (1.3755449906422773e-10, 'Lat_44.4976179'),
 (1.3612529198430417e-10, 'Lat_42.85145728'),
 (1.3540432767364404e-10, 'Lat_42.63492579'),
 (1.3385880015373823e-10, 'Long_-78.22199579'),
 (1.3284279601615183e-10, 'City_Otsego'),
 (1.315436146570597e-10, 'City_Cattaraugus'),
 (1.2786206075964474e-10, 'Lat_42.70145109'),
 (1.2728424818543626e-10, 'Lat_42.24778241'),
 (1.237629535257122e-10, 'Lat_42.72596275'),
 (1.2100627207241969e-10, 'Lat_42.49430041'),
 (1.1700915107923535e-10, 'City_Tioga'),
 (1.0776001250467869e-10, 'City_Schoharie'),
 (1.0657914162529016e-10, 'City_Lewis'),
 (1.0654250312230967e-10, 'Long_-74.12384884'),
 (1.0481369270830368e-10, 'Long_-74.44339029999998'),
 (1.0215082876771508e-10, 'Lat_43.7844157'),
 (1.001830528027461e-10, 'City_Chenango'),
 (7.479645544353552e-11, 'Long_-75.44903992'),
 (7.141971811066542e-11, 'Long_-75.60887553'),
 (6.41845509402158e-11, 'City_Delaware'),
 (6.362511131265532e-11, 'Long_-73.43043448'),
 (5.886382512805275e-11, 'Lat_43.31153794'),
 (5.521380872003097e-11, 'Lat_42.19837623'),
 (5.4374075823882755e-11, 'City_Washington'),
 (4.11582131928781e-11, 'Long_-74.96709306'),
 (3.575209876678966e-11, 'Long_-73.77297842'),
 (3.5557945601495356e-11, 'Lat_42.63505484'),
 (3.431985295924329e-11, 'City_Essex'),
 (2.582332664713711e-11, 'Lat_44.11630765'),
 (2.4891380961200512e-11, 'Long_-77.10369919'),
 (1.8639019247392763e-11, 'City_Yates'),
 (9.496791856263558e-12, 'Long_-76.8773299'),
 (7.639597438475465e-12, 'City_Schuyler'),
 (7.104067465344316e-12, 'Lat_42.39184015'),
 (0.0, 'Province_State_New York'),
 (0.0, 'Country_Region_US')]

## Fitting and predicting the results of the whole data set

In [25]:
# Fitting Random Forest Regression to the dataset
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 20,)
regressor = regressor.fit(X, y)

In [26]:
y_pred = regressor.predict(X)
y_pred

array([ 9164.05,  1553.45, 78010.5 , ..., 74382.85,  1635.85,   607.3 ])

In [27]:
#Print predictaed values for the full dataset
Predict_df = pd.DataFrame({'Real Values':y, 'Predicted Values':y_pred})
Predict_df

         Real Values  Predicted Values
5417          9174.0           9164.05
5418          1559.0           1553.45
5419         78599.0          78010.50
5420          7004.0           6988.45
5421          2037.0           2043.55
...              ...               ...
1575681       1006.0           1007.20
1575682       2942.0           2940.35
1575683      74157.0          74382.85
1575684       1625.0           1635.85
1575685        608.0            607.30

[5270 rows x 2 columns]

## Merge the predictated values to the original dataframe

In [28]:
#Set index for the dataframe 
Predict_df.reset_index(inplace=True)
Predict_df

        index  Real Values  Predicted Values
0        5417       9174.0           9164.05
1        5418       1559.0           1553.45
2        5419      78599.0          78010.50
3        5420       7004.0           6988.45
4        5421       2037.0           2043.55
...       ...          ...               ...
5265  1575681       1006.0           1007.20
5266  1575682       2942.0           2940.35
5267  1575683      74157.0          74382.85
5268  1575684       1625.0           1635.85
5269  1575685        608.0            607.30

[5270 rows x 3 columns]

In [29]:
Predict_df.rename(columns={'index':'Code'}, inplace= True)
Predict_df

         Code  Real Values  Predicted Values
0        5417       9174.0           9164.05
1        5418       1559.0           1553.45
2        5419      78599.0          78010.50
3        5420       7004.0           6988.45
4        5421       2037.0           2043.55
...       ...          ...               ...
5265  1575681       1006.0           1007.20
5266  1575682       2942.0           2940.35
5267  1575683      74157.0          74382.85
5268  1575684       1625.0           1635.85
5269  1575685        608.0            607.30

[5270 rows x 3 columns]

In [31]:
New_df.reset_index(inplace=True)
New_df.head()

,level_0,index,City,Province_State,Country_Region,Lat,Long,Confirmed_Cases,Cases_Per_Day,Last_Update,people_fully_vaccinated,Coordinates
0,0,5417,Albany,New York,US,42.600603,-73.977239,9174.0,8994.0,2020-12-21,11431,"[42.60060306, -73.97723916]"
1,1,5418,Allegany,New York,US,42.257484,-78.027505,1559.0,1491.0,2020-12-21,11431,"[42.25748406, -78.02750466]"
2,2,5419,Bronx,New York,US,40.852093,-73.862828,78599.0,73525.0,2020-12-21,11431,"[40.85209301, -73.86282755]"
3,3,5420,Broome,New York,US,42.159032,-75.813261,7004.0,6818.0,2020-12-21,11431,"[42.15903158, -75.81326086]"
4,4,5421,Cattaraugus,New York,US,42.247782,-78.679231,2037.0,2004.0,2020-12-21,11431,"[42.24778241, -78.67923096]"

In [32]:
New_df.rename(columns={'index':'Code'}, inplace= True)
New_df.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,level_0,Code,City,Province_State,Country_Region,Lat,Long,Confirmed_Cases,Cases_Per_Day,Last_Update,people_fully_vaccinated,Coordinates
0,0,5417,Albany,New York,US,42.600603,-73.977239,9174.0,8994.0,2020-12-21,11431,"[42.60060306, -73.97723916]"
1,1,5418,Allegany,New York,US,42.257484,-78.027505,1559.0,1491.0,2020-12-21,11431,"[42.25748406, -78.02750466]"
2,2,5419,Bronx,New York,US,40.852093,-73.862828,78599.0,73525.0,2020-12-21,11431,"[40.85209301, -73.86282755]"
3,3,5420,Broome,New York,US,42.159032,-75.813261,7004.0,6818.0,2020-12-21,11431,"[42.15903158, -75.81326086]"
4,4,5421,Cattaraugus,New York,US,42.247782,-78.679231,2037.0,2004.0,2020-12-21,11431,"[42.24778241, -78.67923096]"

In [36]:
#Df with predictated values
merged_df = New_df.merge(Predict_df, on=['Code'])
merged_df.head()

,level_0,Code,City,Province_State,Country_Region,Lat,Long,Confirmed_Cases,Cases_Per_Day,Last_Update,people_fully_vaccinated,Coordinates,Real Values,Predicted Values
0,0,5417,Albany,New York,US,42.600603,-73.977239,9174.0,8994.0,2020-12-21,11431,"[42.60060306, -73.97723916]",9174.0,9164.05
1,1,5418,Allegany,New York,US,42.257484,-78.027505,1559.0,1491.0,2020-12-21,11431,"[42.25748406, -78.02750466]",1559.0,1553.45
2,2,5419,Bronx,New York,US,40.852093,-73.862828,78599.0,73525.0,2020-12-21,11431,"[40.85209301, -73.86282755]",78599.0,78010.50
3,3,5420,Broome,New York,US,42.159032,-75.813261,7004.0,6818.0,2020-12-21,11431,"[42.15903158, -75.81326086]",7004.0,6988.45
4,4,5421,Cattaraugus,New York,US,42.247782,-78.679231,2037.0,2004.0,2020-12-21,11431,"[42.24778241, -78.67923096]",2037.0,2043.55