In [1]:
pip install pymongo

Requirement already satisfied: pymongo in /Users/Anina/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (4.0.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install psycopg2

Requirement already satisfied: psycopg2 in /Users/Anina/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
# Initial imports.
import pandas as pd
import numpy as np
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
import sklearn as skl
import pandas as pd
import glob
from datetime import datetime,date
import numpy as np
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pymongo
import csv
import json
import re
import os
from pymongo import MongoClient
import psycopg2

In [4]:
hostname = 'covid19.clksoczr9us2.us-east-1.rds.amazonaws.com'
port_id = 5432
username = 'postgres'
database = 'postgres'
pwd = 'User1234'
conn = None
cur = None
conn = psycopg2.connect(
        host = hostname,
        dbname = database,
        user = username,
        password = pwd,
        port = port_id)
print("database opened successfully")

database opened successfully

In [5]:
df=pd.read_sql('SELECT * FROM covid19_data', conn)
df.head()

,city,province_state,country_region,lat,long,confirmed_cases,cases_per_day,last_update,people_fully_vaccinated,coordinates
0,None,None,Argentina,-38.4161,-63.6167,7694506.0,NaN,2022-01-22,34235912,"[-38.4161, -63.6167]"
1,None,Australian Capital Territory,Australia,-35.4735,149.0124,29240.0,NaN,2022-01-22,20106005,"[-35.4735, 149.0124]"
2,None,New South Wales,Australia,-33.8688,151.2093,939615.0,NaN,2022-01-22,20106005,"[-33.8688, 151.2093]"
3,None,Northern Territory,Australia,-12.4634,130.8456,8676.0,NaN,2022-01-22,20106005,"[-12.4634, 130.8456]"
4,None,Queensland,Australia,-27.4698,153.0251,298194.0,NaN,2022-01-22,20106005,"[-27.4698, 153.0251]"

In [6]:
#Filter for top 10 vacation countries
Country_df = df.loc[df['country_region'].isin(['US','China','Spain','Mexico','Italy', 'Poland', 'Hungary', 'Croatia','Turkey','United Kingdom'])]
Country_df

,city,province_state,country_region,lat,long,confirmed_cases,cases_per_day,last_update,people_fully_vaccinated,coordinates
88,None,None,Croatia,45.100000,15.200000,859264.0,NaN,2022-01-22,2196691,"[45.1, 15.2]"
170,None,Abruzzo,Italy,42.351222,13.398438,184596.0,NaN,2022-01-22,45653137,"[42.35122196, 13.39843823]"
171,None,Basilicata,Italy,40.639471,15.805148,54198.0,NaN,2022-01-22,45653137,"[40.63947052, 15.80514834]"
172,None,Calabria,Italy,38.905976,16.594402,156630.0,NaN,2022-01-22,45653137,"[38.90597598, 16.59440194]"
173,None,Campania,Italy,40.839566,14.250850,920505.0,NaN,2022-01-22,45653137,"[40.83956555, 14.25084984]"
...,...,...,...,...,...,...,...,...,...,...
1610291,None,Scotland,United Kingdom,56.490700,-4.202600,247541.0,239860.0,2021-06-15,30440373,"[56.4907, -4.2026]"
1610292,None,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,2423.0,16.0,2021-06-15,30440373,"[21.69400000000001, -71.7979]"
1610293,None,Wales,United Kingdom,52.130700,-3.783700,214004.0,208432.0,2021-06-15,30440373,"[52.1307, -3.7837]"
1610294,None,Jersey,United Kingdom,49.213800,-2.135800,3284.0,0.0,2021-06-15,30440373,"[49.2138, -2.1358]"
1610295,None,Guernsey,United Kingdom,49.448196,-2.589490,825.0,0.0,2021-06-15,30440373,"[49.448196, -2.58949]"

In [7]:
# Us_df.drop('City', axis=1).drop('Lat', axis=1).drop('Long', axis =1)
#New_df= Country_df.drop('Lat', axis=1).drop('Long', axis=1)
#New_df.head()

In [8]:
#(DATAFRAME TO BE MERGED WITH PREDICTATED CONFIRMED CASES)
Final_df = Country_df.loc[Country_df['cases_per_day'] >=1]
                          
Final_df.head()

,city,province_state,country_region,lat,long,confirmed_cases,cases_per_day,last_update,people_fully_vaccinated,coordinates
357,None,Andalusia,Spain,37.544300,-4.727800,541843.0,521644.0,2021-04-25,3947465,"[37.5443, -4.7278]"
358,None,Aragon,Spain,41.597600,-0.905700,116374.0,109179.0,2021-04-25,3947465,"[41.5976, -0.9057]"
359,None,Asturias,Spain,43.361400,-5.859300,50028.0,47027.0,2021-04-25,3947465,"[43.3614, -5.8593]"
360,None,Baleares,Spain,39.710358,2.995148,58885.0,56554.0,2021-04-25,3947465,"[39.710358, 2.995148]"
361,None,C. Valenciana,Spain,39.484000,-0.753300,389344.0,372129.0,2021-04-25,3947465,"[39.484, -0.7533]"

In [9]:
Final_Country_df = Final_df.drop(['coordinates'], axis=1)
Final_Country_df

,city,province_state,country_region,lat,long,confirmed_cases,cases_per_day,last_update,people_fully_vaccinated
357,None,Andalusia,Spain,37.544300,-4.727800,541843.0,521644.0,2021-04-25,3947465
358,None,Aragon,Spain,41.597600,-0.905700,116374.0,109179.0,2021-04-25,3947465
359,None,Asturias,Spain,43.361400,-5.859300,50028.0,47027.0,2021-04-25,3947465
360,None,Baleares,Spain,39.710358,2.995148,58885.0,56554.0,2021-04-25,3947465
361,None,C. Valenciana,Spain,39.484000,-0.753300,389344.0,372129.0,2021-04-25,3947465
...,...,...,...,...,...,...,...,...,...
1610287,None,Isle of Man,United Kingdom,54.236100,-4.548100,1599.0,4.0,2021-06-15,30440373
1610289,None,Northern Ireland,United Kingdom,54.787700,-6.492300,123866.0,121711.0,2021-06-15,30440373
1610291,None,Scotland,United Kingdom,56.490700,-4.202600,247541.0,239860.0,2021-06-15,30440373
1610292,None,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,2423.0,16.0,2021-06-15,30440373
1610293,None,Wales,United Kingdom,52.130700,-3.783700,214004.0,208432.0,2021-06-15,30440373

In [10]:
len(Final_df)

289118

In [11]:
#Encoded the categorical data
encoded_df = pd.get_dummies(Final_Country_df, columns=["city","province_state","country_region","last_update",])
encoded_df.head()

,lat,long,confirmed_cases,cases_per_day,people_fully_vaccinated,city_Abbeville,city_Acadia,city_Accomack,city_Ada,city_Adair,...,last_update_2021-07-27,last_update_2021-07-28,last_update_2021-07-29,last_update_2021-07-30,last_update_2021-07-31,last_update_2021-08-01,last_update_2021-08-02,last_update_2021-08-03,last_update_2021-08-04,last_update_2021-08-05
357,37.544300,-4.727800,541843.0,521644.0,3947465,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
358,41.597600,-0.905700,116374.0,109179.0,3947465,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
359,43.361400,-5.859300,50028.0,47027.0,3947465,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
360,39.710358,2.995148,58885.0,56554.0,3947465,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
361,39.484000,-0.753300,389344.0,372129.0,3947465,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
len(encoded_df)

289118

In [13]:
# Define features set
X = encoded_df.copy()
X = encoded_df.drop('confirmed_cases', axis=1)
X.head

<bound method NDFrame.head of                lat       long  cases_per_day  people_fully_vaccinated  \
357      37.544300  -4.727800       521644.0                  3947465
358      41.597600  -0.905700       109179.0                  3947465
359      43.361400  -5.859300        47027.0                  3947465
360      39.710358   2.995148        56554.0                  3947465
361      39.484000  -0.753300       372129.0                  3947465
...            ...        ...            ...                      ...
1610287  54.236100  -4.548100            4.0                 30440373
1610289  54.787700  -6.492300       121711.0                 30440373
1610291  56.490700  -4.202600       239860.0                 30440373
1610292  21.694000 -71.797900           16.0                 30440373
1610293  52.130700  -3.783700       208432.0                 30440373

         city_Abbeville  city_Acadia  city_Accomack  city_Ada  city_Adair  \
357                   0            0              0         0           0
358                   0            0              0         0           0
359                   0            0              0         0           0
360                   0            0              0         0           0
361                   0            0              0         0           0
...                 ...          ...            ...       ...         ...
1610287               0            0              0         0           0
1610289               0            0              0         0           0
1610291               0            0              0         0           0
1610292               0            0              0         0           0
1610293               0            0              0         0           0

         city_Adams  ...  last_update_2021-07-27  last_update_2021-07-28  \
357               0  ...                       0                       0
358               0  ...                       0                       0
359               0  ...                       0                       0
360               0  ...                       0                       0
361               0  ...                       0                       0
...             ...  ...                     ...                     ...
1610287           0  ...                       0                       0
1610289           0  ...                       0                       0
1610291           0  ...                       0                       0
1610292           0  ...                       0                       0
1610293           0  ...                       0                       0

         last_update_2021-07-29  last_update_2021-07-30  \
357                           0                       0
358                           0                       0
359                           0                       0
360                           0                       0
361                           0                       0
...                         ...                     ...
1610287                       0                       0
1610289                       0                       0
1610291                       0                       0
1610292                       0                       0
1610293                       0                       0

         last_update_2021-07-31  last_update_2021-08-01  \
357                           0                       0
358                           0                       0
359                           0                       0
360                           0                       0
361                           0                       0
...                         ...                     ...
1610287                       0                       0
1610289                       0                       0
1610291                       0                       0
1610292                       0                       0
1610293                       0                       0

         last_update_2021-08-02  last_update_2021-08-03  \
357                           0                       0
358                           0                       0
359                           0                       0
360                           0                       0
361                           0                       0
...                         ...                     ...
1610287                       0                       0
1610289                       0                       0
1610291                       0                       0
1610292                       0                       0
1610293                       0                       0

         last_update_2021-08-04  last_update_2021-08-05
357                           0                       0
358                           0                       0
359                           0                       0
360                           0                       0
361                           0                       0
...                         ...                     ...
1610287                       0                       0
1610289                       0                       0
1610291                       0                       0
1610292                       0                       0
1610293                       0                       0

[289118 rows x 2297 columns]>

In [14]:
X.shape

(289118, 2297)

In [15]:
# Define the target set.
y = encoded_df["confirmed_cases"]
y[:5]

357    541843.0
358    116374.0
359     50028.0
360     58885.0
361    389344.0
Name: confirmed_cases, dtype: float64

In [16]:
# # Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(216838, 2297) (72280, 2297) (216838,) (72280,)

In [17]:
# # Fitting Random Forest Regression to the dataset
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 20, random_state = 42)
regressor = regressor.fit(X_train, y_train)

In [19]:
y_pred = regressor.predict(X_test)
y_pred

array([   574.05, 135378.1 ,   2164.25, ...,    289.8 ,   9192.45,
        12471.4 ])

In [20]:
# df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
df

,city,province_state,country_region,lat,long,confirmed_cases,cases_per_day,last_update,people_fully_vaccinated,coordinates
0,None,None,Argentina,-38.4161,-63.6167,7694506.0,NaN,2022-01-22,34235912,"[-38.4161, -63.6167]"
1,None,Australian Capital Territory,Australia,-35.4735,149.0124,29240.0,NaN,2022-01-22,20106005,"[-35.4735, 149.0124]"
2,None,New South Wales,Australia,-33.8688,151.2093,939615.0,NaN,2022-01-22,20106005,"[-33.8688, 151.2093]"
3,None,Northern Territory,Australia,-12.4634,130.8456,8676.0,NaN,2022-01-22,20106005,"[-12.4634, 130.8456]"
4,None,Queensland,Australia,-27.4698,153.0251,298194.0,NaN,2022-01-22,20106005,"[-27.4698, 153.0251]"
...,...,...,...,...,...,...,...,...,...,...
1610312,None,Selangor,Malaysia,3.0738,101.5183,216483.0,25478.0,2021-06-15,1488279,"[3.0738, 101.5183]"
1610313,None,Terengganu,Malaysia,5.3117,103.1324,10655.0,910.0,2021-06-15,1488279,"[5.3117, 103.1324]"
1610314,None,W.P. Kuala Lumpur,Malaysia,3.1390,101.6869,67718.0,8116.0,2021-06-15,1488279,"[3.139, 101.6869]"
1610315,None,W.P. Labuan,Malaysia,5.2831,115.2308,6154.0,2251.0,2021-06-15,1488279,"[5.2831, 115.2308]"
1610316,None,W.P. Putrajaya,Malaysia,2.9264,101.6964,2125.0,165.0,2021-06-15,1488279,"[2.9264, 101.6964]"

In [22]:
accuracy = regressor.score(X_train,y_train)
accuracy

0.9999923345827156

In [23]:
print( 'Linear Regression Accuracy: ', accuracy*100,'%')

Linear Regression Accuracy:  99.99923345827156 %

In [24]:
print("Training Accuracy = ", regressor.score(X_train, y_train))
print("Test Accuracy = ", regressor.score(X_test, y_test))

Training Accuracy =  0.9999923345827156
Test Accuracy =  0.9999516418681117

In [25]:
# # Calculate feature importance in the Random Forest model.
importances = regressor.feature_importances_
importances

array([1.48243268e-03, 1.94078329e-02, 2.20937720e-01, ...,
       4.30925786e-08, 2.89714142e-08, 4.47424200e-07])

In [26]:
#We can sort the features by their importance.
sorted(zip(regressor.feature_importances_, X.columns), reverse=True)

[(0.376234491408273, 'country_region_Turkey'),
 (0.2209377198169132, 'cases_per_day'),
 (0.21711499071717003, 'province_state_England'),
 (0.11476004190778408, 'country_region_Poland'),
 (0.03421636878658946, 'people_fully_vaccinated'),
 (0.01940783294118085, 'long'),
 (0.008544494477291116, 'province_state_Lombardia'),
 (0.0014854413638100978, 'country_region_Hungary'),
 (0.0014824326811107968, 'lat'),
 (0.0010480232290858635, 'province_state_Veneto'),
 (0.0007789978457090365, 'province_state_Emilia-Romagna'),
 (0.0007767159764160928, 'province_state_Campania'),
 (0.0007582286647147081, 'country_region_Croatia'),
 (0.0006564824351578527, 'province_state_Lazio'),
 (0.0005457040800457996, 'province_state_Piemonte'),
 (0.00034170282432754534, 'province_state_Sicilia'),
 (0.00032360609341866125, 'province_state_Toscana'),
 (0.000312922780735737, 'province_state_Puglia'),
 (9.93190296198702e-05, 'country_region_Italy'),
 (3.58994701579332e-05, 'country_region_Spain'),
 (2.7083456770732696e-05, 'province_state_Calabria'),
 (1.810923142669285e-05, 'city_Harris'),
 (1.749812212806773e-05, 'province_state_Liguria'),
 (8.005078237441525e-06, "province_state_Valle d'Aosta"),
 (6.6749147044072155e-06, 'country_region_US'),
 (5.618921723378966e-06, 'province_state_Texas'),
 (5.341722576184593e-06, 'city_El Paso'),
 (3.9087150595994215e-06, 'city_Dallas'),
 (3.079999001979887e-06, 'country_region_Mexico'),
 (2.7717842360530195e-06, 'province_state_Umbria'),
 (2.6417047189418143e-06, 'province_state_Basilicata'),
 (2.3010378561571506e-06, 'province_state_Madrid'),
 (2.294057851456245e-06, 'last_update_2021-03-31'),
 (1.493609524129397e-06, 'province_state_Mexico'),
 (1.3972841467845605e-06, 'province_state_Sardegna'),
 (1.227722819292458e-06, 'province_state_P.A. Trento'),
 (1.2088534950814062e-06, 'last_update_2021-01-17'),
 (9.7601462414014e-07, 'province_state_Marche'),
 (9.33406078283141e-07, 'last_update_2021-04-27'),
 (9.232557721801938e-07, 'province_state_Pais Vasco'),
 (8.661346083360978e-07, 'last_update_2021-07-18'),
 (7.010720243341478e-07, 'last_update_2021-03-28'),
 (6.719037711971646e-07, 'last_update_2021-04-30'),
 (6.474575424542e-07, 'country_region_United Kingdom'),
 (6.215420267133965e-07, 'province_state_Catalonia'),
 (5.67258159338811e-07, 'city_Nueces'),
 (5.523393875203156e-07, 'last_update_2021-01-09'),
 (5.111049001940429e-07, 'last_update_2021-04-24'),
 (4.7517750839335745e-07, 'province_state_Andalusia'),
 (4.711484830036635e-07, 'province_state_Northern Mariana Islands'),
 (4.479555802666396e-07, 'last_update_2021-04-14'),
 (4.474241999357908e-07, 'last_update_2021-08-05'),
 (4.2349347942295077e-07, 'city_Lubbock'),
 (4.1711848143149093e-07, 'last_update_2021-01-20'),
 (4.1388046964354726e-07, 'last_update_2021-01-10'),
 (3.9264760570963087e-07, 'last_update_2021-02-07'),
 (3.612415455638283e-07, 'province_state_Gibraltar'),
 (3.3652009633668086e-07, 'province_state_Scotland'),
 (3.3383651118251736e-07, 'last_update_2021-04-12'),
 (3.118815651400734e-07, 'last_update_2021-04-20'),
 (3.065223001509849e-07, 'last_update_2021-07-08'),
 (3.0601731723823727e-07, 'province_state_Abruzzo'),
 (2.882615185321491e-07, 'last_update_2021-01-21'),
 (2.7842847718928303e-07, 'last_update_2021-04-04'),
 (2.6798375502721735e-07, 'last_update_2021-04-08'),
 (2.5969898755775103e-07, 'last_update_2021-01-14'),
 (2.5109555573567637e-07, 'last_update_2021-04-15'),
 (2.494260044938759e-07, 'last_update_2021-04-02'),
 (2.48327180320849e-07, 'last_update_2021-07-15'),
 (2.3587779178278105e-07, 'last_update_2021-03-30'),
 (2.2894401394593287e-07, 'last_update_2021-03-19'),
 (2.151841147225723e-07, 'last_update_2021-04-16'),
 (2.1043477185642848e-07, 'province_state_Veracruz'),
 (2.0880247366164575e-07, 'last_update_2021-07-17'),
 (2.0421177568874028e-07, 'last_update_2021-01-24'),
 (2.0378169368479034e-07, 'last_update_2021-04-22'),
 (2.0187161459600965e-07, 'province_state_Galicia'),
 (1.8066730250253453e-07, 'city_Tom Green'),
 (1.7405429865902872e-07, 'last_update_2021-03-06'),
 (1.7350514604556232e-07, 'city_Hidalgo'),
 (1.7127474185805437e-07, 'city_Smith'),
 (1.6889947055428266e-07, 'city_Travis'),
 (1.6439259942220287e-07, 'city_McLennan'),
 (1.6310401014002846e-07, 'last_update_2021-04-23'),
 (1.5560637523646829e-07, 'last_update_2021-07-21'),
 (1.5432439764095431e-07, 'last_update_2021-04-18'),
 (1.507136434757564e-07, 'city_Denton'),
 (1.4336215582481664e-07, 'last_update_2021-07-02'),
 (1.39637233237998e-07, 'last_update_2021-01-16'),
 (1.3507941609750587e-07, 'last_update_2021-07-04'),
 (1.345031413241112e-07, 'last_update_2021-04-11'),
 (1.3422874100437706e-07, 'city_Cameron'),
 (1.3388893929125543e-07, 'last_update_2021-03-12'),
 (1.3266622042465037e-07, 'province_state_Castilla - La Mancha'),
 (1.2965350163422105e-07, 'province_state_P.A. Bolzano'),
 (1.2805427852201422e-07, 'city_Hale'),
 (1.274063503187665e-07, 'last_update_2021-01-13'),
 (1.255332398034538e-07, 'last_update_2021-07-27'),
 (1.2284655661475416e-07, 'last_update_2021-07-07'),
 (1.2276408318686048e-07, 'province_state_Guanajuato'),
 (1.2235147792154674e-07, 'last_update_2021-02-03'),
 (1.2058668110013669e-07, 'last_update_2021-05-03'),
 (1.1991239803952408e-07, 'last_update_2021-08-01'),
 (1.0846497594983742e-07, 'last_update_2021-07-09'),
 (1.0318839066289244e-07, 'province_state_Friuli Venezia Giulia'),
 (1.0096803535455972e-07, 'last_update_2021-01-12'),
 (1.0091031904867116e-07, 'last_update_2021-01-19'),
 (9.902643711506483e-08, 'city_Randall'),
 (9.837160528025296e-08, 'last_update_2021-07-14'),
 (9.825075495657427e-08, 'city_Maricopa'),
 (9.73092573525928e-08, 'province_state_Baja California'),
 (9.626512326919838e-08, 'last_update_2021-04-21'),
 (9.524580732452954e-08, 'last_update_2021-04-06'),
 (9.381805450105833e-08, 'province_state_Turks and Caicos Islands'),
 (9.364824315018e-08, 'last_update_2021-05-08'),
 (8.671965049020678e-08, 'province_state_Hidalgo'),
 (8.576872785069485e-08, 'province_state_Northern Ireland'),
 (8.548512709176493e-08, 'city_Bell'),
 (8.490727417064391e-08, 'last_update_2021-07-12'),
 (8.387935234251213e-08, 'city_Los Angeles'),
 (8.287756665855279e-08, 'last_update_2021-06-28'),
 (8.102379757919176e-08, 'last_update_2021-07-29'),
 (8.089969412748402e-08, 'province_state_New York'),
 (7.825871990206085e-08, 'last_update_2021-02-22'),
 (7.455388729359509e-08, 'city_Tarrant'),
 (7.382496868559723e-08, 'last_update_2021-07-30'),
 (7.267959898910628e-08, 'last_update_2021-03-16'),
 (7.266399771616306e-08, 'city_Collin'),
 (7.092204813635125e-08, 'province_state_Jalisco'),
 (6.977996453801746e-08, 'last_update_2021-04-29'),
 (6.848700612868891e-08, 'last_update_2021-03-13'),
 (6.778414678138405e-08, 'last_update_2021-03-22'),
 (6.58166124293836e-08, 'province_state_Ciudad de Mexico'),
 (6.308048573466843e-08, 'last_update_2021-05-04'),
 (6.276386934612587e-08, 'last_update_2021-03-07'),
 (6.119293068379879e-08, 'last_update_2021-01-04'),
 (5.8848534286730324e-08, 'province_state_Castilla y Leon'),
 (5.8061147658773783e-08, 'last_update_2021-01-15'),
 (5.6879658311131276e-08, 'province_state_Arizona'),
 (5.6513886669381533e-08, 'province_state_C. Valenciana'),
 (5.621030159333525e-08, 'province_state_California'),
 (5.541631236854778e-08, 'last_update_2021-01-28'),
 (5.4366153891941904e-08, 'last_update_2021-02-12'),
 (5.3486516389665734e-08, 'province_state_Sinaloa'),
 (5.3314764463609033e-08, 'last_update_2021-04-07'),
 (5.232226123564273e-08, 'last_update_2021-03-20'),
 (5.1654093109599446e-08, 'last_update_2021-07-19'),
 (5.133023557393044e-08, 'last_update_2021-07-24'),
 (5.061928408190045e-08, 'last_update_2021-02-01'),
 (4.901155999069418e-08, 'last_update_2021-01-29'),
 (4.8366035546266284e-08, 'last_update_2021-02-23'),
 (4.8062860125029e-08, 'province_state_Bermuda'),
 (4.720026217063635e-08, 'last_update_2021-02-13'),
 (4.6908197993982575e-08, 'last_update_2021-05-09'),
 (4.4655110246332355e-08, 'province_state_Navarra'),
 (4.434064981186162e-08, 'last_update_2021-07-10'),
 (4.4327737399887593e-08, 'last_update_2021-05-05'),
 (4.31866090940501e-08, 'last_update_2021-03-23'),
 (4.309257856899236e-08, 'last_update_2021-08-03'),
 (4.234090170664167e-08, 'last_update_2021-05-15'),
 (4.176643607508371e-08, 'last_update_2021-02-26'),
 (4.054793670126313e-08, 'last_update_2021-04-03'),
 (4.0041542453903994e-08, 'last_update_2021-03-21'),
 (3.9925745879837896e-08, 'last_update_2021-03-09'),
 (3.980898077904667e-08, 'last_update_2021-03-17'),
 (3.8773046858491285e-08, 'last_update_2021-03-04'),
 (3.7982898925986686e-08, 'city_Wichita'),
 (3.761457840452723e-08, 'last_update_2021-03-18'),
 (3.7125769698077214e-08, 'province_state_Baja California Sur'),
 (3.6877827476747295e-08, 'last_update_2021-03-15'),
 (3.61501714983388e-08, 'last_update_2021-02-16'),
 (3.6140513113529155e-08, 'last_update_2021-03-25'),
 (3.474627360376185e-08, 'city_Bronx'),
 (3.375158351523389e-08, 'last_update_2021-05-06'),
 (3.3380626635428255e-08, 'city_Gregg'),
 (3.3375145161257844e-08, 'last_update_2021-07-13'),
 (3.294257152462708e-08, 'last_update_2020-12-25'),
 (3.2853464653860544e-08, 'last_update_2020-12-15'),
 (3.262776540207599e-08, 'last_update_2021-01-06'),
 (3.2590469497405636e-08, 'last_update_2021-06-21'),
 (3.1913246087071104e-08, 'last_update_2021-06-15'),
 (3.175139362201292e-08, 'last_update_2021-07-25'),
 (3.0982026123569336e-08, 'last_update_2021-01-25'),
 (3.070265178159204e-08, 'city_Galveston'),
 (3.002145614977785e-08, 'last_update_2021-04-10'),
 (2.9809469440560914e-08, 'last_update_2021-06-29'),
 (2.9728875931055185e-08, 'city_Potter'),
 (2.9272227552077618e-08, 'last_update_2020-12-28'),
 (2.9148540835273864e-08, 'last_update_2021-05-02'),
 (2.8971414171106877e-08, 'last_update_2021-08-04'),
 (2.8143134234187635e-08, 'city_Lamar'),
 (2.709804982108213e-08, 'last_update_2021-02-21'),
 (2.6580523214774917e-08, 'city_Midland'),
 (2.6510789564564986e-08, 'city_DeWitt'),
 (2.623828451206084e-08, 'last_update_2021-07-31'),
 (2.561910666251911e-08, 'province_state_Isle of Man'),
 (2.539971762661917e-08, 'last_update_2021-03-03'),
 (2.5357607475010523e-08, 'last_update_2021-01-02'),
 (2.3985018807136324e-08, 'province_state_Sonora'),
 (2.387987823375589e-08, 'last_update_2021-05-26'),
 (2.382834096561574e-08, 'last_update_2021-04-17'),
 (2.3791143963296372e-08, 'last_update_2021-07-22'),
 (2.3740724277690076e-08, 'city_Miami-Dade'),
 (2.3619459527610353e-08, 'city_Kings'),
 (2.3402834723422228e-08, 'last_update_2021-03-26'),
 (2.314009608243642e-08, 'last_update_2021-01-26'),
 (2.293692303863938e-08, 'last_update_2021-02-20'),
 (2.2919478090341055e-08, 'last_update_2021-04-19'),
 (2.2785865133412983e-08, 'last_update_2021-02-10'),
 (2.2467863258024383e-08, 'city_Queens'),
 (2.1782622971604133e-08, 'province_state_Florida'),
 (2.1392212432820276e-08, 'last_update_2021-01-23'),
 (2.106166220533297e-08, 'province_state_Tabasco'),
 (2.0734224564974643e-08, 'last_update_2021-02-28'),
 (2.06874561529446e-08, 'last_update_2021-05-20'),
 (2.059915806731877e-08, 'last_update_2021-03-10'),
 (2.058709671063964e-08, 'last_update_2021-06-24'),
 (2.0547349730345835e-08, 'last_update_2021-04-25'),
 (2.0473099507569994e-08, 'city_Coryell'),
 (2.0395194365359946e-08, 'last_update_2021-03-14'),
 (2.0077638753426774e-08, 'last_update_2021-02-04'),
 (1.9954781729585333e-08, 'last_update_2021-05-10'),
 (1.8979264565617658e-08, 'last_update_2021-01-22'),
 (1.8210064576761585e-08, 'province_state_Puebla'),
 (1.7991321368916017e-08, 'last_update_2021-01-03'),
 (1.7944454996760726e-08, 'province_state_Chihuahua'),
 (1.7905628648130065e-08, 'last_update_2021-01-27'),
 (1.789089757157864e-08, 'last_update_2021-05-19'),
 (1.7809317441727777e-08, 'last_update_2021-01-31'),
 (1.73672073843392e-08, 'last_update_2021-05-07'),
 (1.7042061980300867e-08, 'city_Taylor'),
 (1.6778552305410842e-08, 'last_update_2020-12-29'),
 (1.6727931566516596e-08, 'last_update_2021-01-18'),
 (1.6412671389358454e-08, 'last_update_2021-02-09'),
 (1.622217254548636e-08, 'last_update_2021-07-03'),
 (1.6090353223974037e-08, 'last_update_2021-02-27'),
 (1.572125491882654e-08, 'last_update_2021-05-12'),
 (1.5567006468020933e-08, 'last_update_2021-04-05'),
 (1.521009140800592e-08, 'last_update_2021-02-11'),
 (1.5083748409633508e-08, 'province_state_Aragon'),
 (1.5043654582668145e-08, 'last_update_2021-04-01'),
 (1.480757043865719e-08, 'province_state_Michigan'),
 (1.4768687989305325e-08, 'last_update_2021-07-11'),
 (1.4666753753022252e-08, 'last_update_2020-12-21'),
 (1.4656862620952928e-08, 'last_update_2021-03-01'),
 (1.4426438692391744e-08, 'city_Wayne'),
 (1.4335467587356638e-08, 'province_state_Murcia'),
 (1.432336525063869e-08, 'last_update_2021-02-14'),
 (1.4047282600011513e-08, 'last_update_2021-07-26'),
 (1.3931919006126881e-08, 'city_Orange'),
 (1.3896688907727593e-08, 'last_update_2020-12-31'),
 (1.3859614730531307e-08, 'province_state_Queretaro'),
 (1.3828499942826433e-08, 'last_update_2021-02-02'),
 (1.3450995797134029e-08, 'last_update_2021-03-02'),
 (1.3423538029342088e-08, 'last_update_2021-05-01'),
 (1.342225409507069e-08, 'last_update_2021-02-24'),
 (1.3351676189644052e-08, 'last_update_2021-01-11'),
 (1.3341253222252834e-08, 'last_update_2021-02-18'),
 (1.298534236980763e-08, 'city_Chambers'),
 (1.2971506673738442e-08, 'last_update_2021-02-19'),
 (1.2883655486978816e-08, 'last_update_2021-07-20'),
 (1.2664139286135862e-08, 'last_update_2021-08-02'),
 (1.2448182062886171e-08, 'last_update_2021-02-25'),
 (1.2373806838147831e-08, 'last_update_2021-03-27'),
 (1.2183683291873316e-08, 'last_update_2021-02-17'),
 (1.2102192765077073e-08, 'last_update_2021-06-03'),
 (1.1954103476098728e-08, 'last_update_2021-06-13'),
 (1.1893677164359401e-08, 'last_update_2021-06-10'),
 (1.1521475792239596e-08, 'last_update_2021-02-15'),
 (1.1253730985554399e-08, 'last_update_2021-03-11'),
 (1.1087615596004165e-08, 'city_Comal'),
 (1.067254971031096e-08, 'last_update_2021-05-11'),
 (1.0649094992605352e-08, 'last_update_2021-06-25'),
 (1.0648691524543535e-08, 'city_Grayson'),
 (1.0621479468287783e-08, 'last_update_2021-06-22'),
 (1.0600242835638916e-08, 'province_state_Illinois'),
 (1.0515702945671794e-08, 'last_update_2020-12-24'),
 (1.0415259642475444e-08, 'province_state_Durango'),
 (1.0296087183130941e-08, 'city_Hutchinson'),
 (9.954997163630087e-09, 'last_update_2021-07-23'),
 (9.829393879633208e-09, 'last_update_2021-02-08'),
 (9.762107440925991e-09, 'last_update_2020-12-23'),
 (9.536134844413643e-09, 'last_update_2021-01-08'),
 (9.411559519497648e-09, 'last_update_2021-06-26'),
 (9.350828378997382e-09, 'last_update_2021-05-24'),
 (9.113913927587237e-09, 'last_update_2021-03-08'),
 (9.070679046322855e-09, 'last_update_2021-01-05'),
 (9.004575107547722e-09, 'city_Henderson'),
 (8.898305157239755e-09, 'last_update_2021-03-05'),
 (8.446368182005116e-09, 'last_update_2021-04-13'),
 (8.404165963644936e-09, 'city_Angelina'),
 (8.281304672755466e-09, 'last_update_2021-06-18'),
 (8.213483936720826e-09, 'last_update_2021-07-16'),
 (8.117755940511424e-09, 'last_update_2021-05-27'),
 (8.117506358935737e-09, 'last_update_2020-12-14'),
 (7.857876262767143e-09, 'last_update_2021-05-23'),
 (7.574829101733653e-09, 'province_state_Utah'),
 (7.527017128622103e-09, 'city_Williamson'),
 (7.121566312337996e-09, 'city_Val Verde'),
 (7.079558816432756e-09, 'last_update_2021-02-05'),
 (7.062669605339169e-09, 'last_update_2021-06-23'),
 (7.0243308512725315e-09, 'last_update_2021-02-06'),
 (6.9760671804526425e-09, 'city_Bexar'),
 (6.904535874957347e-09, 'last_update_2020-12-16'),
 (6.852343105599929e-09, 'last_update_2021-04-09'),
 (6.664455190839928e-09, 'province_state_Oaxaca'),
 (6.634928989753456e-09, 'province_state_Canarias'),
 (6.598047641040041e-09, 'last_update_2021-05-22'),
 (6.4896750077767455e-09, 'province_state_Baleares'),
 (6.462699506358117e-09, 'last_update_2021-03-24'),
 (6.40194690032823e-09, 'last_update_2021-07-05'),
 (6.381286882021208e-09, 'last_update_2021-07-01'),
 (6.36002867899502e-09, 'last_update_2021-06-20'),
 (6.272105768544988e-09, 'city_Terry'),
 (6.226840960385122e-09, 'last_update_2021-06-27'),
 (6.1831928088310275e-09, 'city_Maverick'),
 (6.1443580487101345e-09, 'city_New York'),
 (6.121138277115949e-09, 'city_Clark'),
 (6.08955769914855e-09, 'city_Gaines'),
 (5.951901994541757e-09, 'last_update_2021-07-28'),
 (5.868305596504625e-09, 'last_update_2021-04-26'),
 (5.7197560758369576e-09, 'last_update_2021-06-17'),
 (5.433167226931766e-09, 'city_Hockley'),
 (5.200434224887953e-09, 'province_state_La Rioja'),
 (5.187734097291716e-09, 'city_Broward'),
 (5.177424628801905e-09, 'last_update_2021-01-30'),
 (5.066065636293809e-09, 'last_update_2020-12-13'),
 (5.0371776163833065e-09, 'last_update_2021-05-29'),
 (4.993519197093765e-09, 'city_Hill'),
 (4.990238061765081e-09, 'city_Brazoria'),
 (4.934297932711538e-09, 'city_Webb'),
 (4.83405732525695e-09, 'last_update_2021-06-07'),
 (4.798191780175874e-09, 'last_update_2020-12-22'),
 (4.792430674721796e-09, 'last_update_2020-12-30'),
 (4.736163908380249e-09, 'last_update_2021-01-01'),
 (4.658581225989991e-09, 'last_update_2021-05-13'),
 (4.642432509517585e-09, 'province_state_Cayman Islands'),
 (4.6328575051740115e-09, 'city_Fort Bend'),
 (4.623958858649166e-09, 'city_Hardin'),
 (4.572259607579297e-09, 'last_update_2020-12-17'),
 (4.48025830370019e-09, 'province_state_Wales'),
 (4.451606283512682e-09, 'last_update_2021-05-14'),
 (4.450946424351443e-09, 'last_update_2021-06-14'),
 (4.4204093309954715e-09, 'last_update_2021-01-07'),
 (4.393625430974647e-09, 'province_state_Channel Islands'),
 (4.37557972851053e-09, 'last_update_2021-06-09'),
 (4.338697346005183e-09, 'city_Wood'),
 (4.2858995001592675e-09, 'city_Cherokee'),
 (4.223761590627318e-09, 'last_update_2021-06-16'),
 (4.183992828763205e-09, 'last_update_2021-06-01'),
 (4.102181311587046e-09, 'last_update_2021-03-29'),
 (4.059312980702438e-09, 'province_state_Extremadura'),
 (4.051795745048071e-09, 'city_Ector'),
 (3.944382102625527e-09, 'province_state_Michoacan'),
 (3.921809992821937e-09, 'last_update_2021-05-18'),
 (3.913732298642225e-09, 'last_update_2021-05-16'),
 (3.687512823167912e-09, 'city_Van Zandt'),
 (3.61464563782668e-09, 'city_Bee'),
 (3.5989054229483238e-09, 'city_Howard'),
 (3.453241467931822e-09, 'province_state_Nevada'),
 (3.379767777943935e-09, 'province_state_Mississippi'),
 (3.3005534864132036e-09, 'last_update_2021-04-28'),
 (3.2858010150643373e-09, 'city_Walker'),
 (3.2143445836562645e-09, 'city_Salt Lake'),
 (3.1942345558455066e-09, 'province_state_Nuevo Leon'),
 (3.0453284593504577e-09, 'city_Cook'),
 (2.9487246886373148e-09, 'city_Yoakum'),
 (2.890244050950962e-09, 'city_Grimes'),
 (2.8809790962243376e-09, 'province_state_Asturias'),
 (2.8553974109951365e-09, 'province_state_Guam'),
 (2.8156076435661834e-09, 'last_update_2020-12-27'),
 (2.7955374753544643e-09, 'city_San Jacinto'),
 (2.7256617886469163e-09, 'last_update_2021-06-12'),
 (2.6660795773797654e-09, 'city_Bowie'),
 (2.6655809320998638e-09, 'city_Nacogdoches'),
 (2.583770523997368e-09, 'city_Delta'),
 (2.4832866751368643e-09, 'province_state_New Jersey'),
 (2.475654113330297e-09, 'province_state_Massachusetts'),
 (2.3617476105112075e-09, 'city_Hunt'),
 (2.3183700918744338e-09, 'last_update_2021-06-08'),
 (2.2902017973111e-09, 'province_state_Yucatan'),
 (2.2774982566268734e-09, 'city_Jefferson'),
 (2.2054769906493047e-09, 'city_Suffolk'),
 (2.164811191918983e-09, 'city_Milam'),
 (2.1160909426962712e-09, 'province_state_North Carolina'),
 (2.1062292633140785e-09, 'province_state_Guerrero'),
 (2.0542880587070753e-09, 'last_update_2021-06-02'),
 (2.0026567104148276e-09, 'last_update_2021-06-05'),
 (1.9545654352784735e-09, 'last_update_2021-07-06'),
 (1.9454774634608257e-09, 'province_state_Pennsylvania'),
 (1.8911830764419055e-09, 'last_update_2021-06-19'),
 (1.8736633329496567e-09, 'city_Nassau'),
 (1.8529807880873237e-09, 'city_Brazos'),
 (1.8277330364710216e-09, 'province_state_Colima'),

### Fitting and predicting results for the full data set

In [27]:
# Fitting Random Forest Regression to the dataset
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 20,)
regressor = regressor.fit(X, y)

In [28]:
y_pred = regressor.predict(X)
y_pred

array([541773.65, 116466.25,  50075.75, ..., 247702.35,   2423.  ,
       213961.25])

In [29]:
#Print predictaed values for the full dataset
Predict_df = pd.DataFrame({'Real Values':y, 'Predicted Values':y_pred})
Predict_df

         Real Values  Predicted Values
357         541843.0         541773.65
358         116374.0         116466.25
359          50028.0          50075.75
360          58885.0          58873.45
361         389344.0         389291.20
...              ...               ...
1610287       1599.0           1599.00
1610289     123866.0         123845.65
1610291     247541.0         247702.35
1610292       2423.0           2423.00
1610293     214004.0         213961.25

[289118 rows x 2 columns]

### Merge the predictated values to the original dataframe

In [30]:
#Set index for the dataframe 
Predict_df.reset_index(inplace=True)
Predict_df

          index  Real Values  Predicted Values
0           357     541843.0         541773.65
1           358     116374.0         116466.25
2           359      50028.0          50075.75
3           360      58885.0          58873.45
4           361     389344.0         389291.20
...         ...          ...               ...
289113  1610287       1599.0           1599.00
289114  1610289     123866.0         123845.65
289115  1610291     247541.0         247702.35
289116  1610292       2423.0           2423.00
289117  1610293     214004.0         213961.25

[289118 rows x 3 columns]

In [31]:
Predict_df.rename(columns={'index':'Code'}, inplace= True)
Predict_df

           Code  Real Values  Predicted Values
0           357     541843.0         541773.65
1           358     116374.0         116466.25
2           359      50028.0          50075.75
3           360      58885.0          58873.45
4           361     389344.0         389291.20
...         ...          ...               ...
289113  1610287       1599.0           1599.00
289114  1610289     123866.0         123845.65
289115  1610291     247541.0         247702.35
289116  1610292       2423.0           2423.00
289117  1610293     214004.0         213961.25

[289118 rows x 3 columns]

In [32]:
#Set index for the dataframe 
Final_df.reset_index(inplace=True)
Final_df

,index,city,province_state,country_region,lat,long,confirmed_cases,cases_per_day,last_update,people_fully_vaccinated,coordinates
0,357,None,Andalusia,Spain,37.544300,-4.727800,541843.0,521644.0,2021-04-25,3947465,"[37.5443, -4.7278]"
1,358,None,Aragon,Spain,41.597600,-0.905700,116374.0,109179.0,2021-04-25,3947465,"[41.5976, -0.9057]"
2,359,None,Asturias,Spain,43.361400,-5.859300,50028.0,47027.0,2021-04-25,3947465,"[43.3614, -5.8593]"
3,360,None,Baleares,Spain,39.710358,2.995148,58885.0,56554.0,2021-04-25,3947465,"[39.710358, 2.995148]"
4,361,None,C. Valenciana,Spain,39.484000,-0.753300,389344.0,372129.0,2021-04-25,3947465,"[39.484, -0.7533]"
...,...,...,...,...,...,...,...,...,...,...,...
289113,1610287,None,Isle of Man,United Kingdom,54.236100,-4.548100,1599.0,4.0,2021-06-15,30440373,"[54.2361, -4.5481]"
289114,1610289,None,Northern Ireland,United Kingdom,54.787700,-6.492300,123866.0,121711.0,2021-06-15,30440373,"[54.7877, -6.4923]"
289115,1610291,None,Scotland,United Kingdom,56.490700,-4.202600,247541.0,239860.0,2021-06-15,30440373,"[56.4907, -4.2026]"
289116,1610292,None,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,2423.0,16.0,2021-06-15,30440373,"[21.69400000000001, -71.7979]"
289117,1610293,None,Wales,United Kingdom,52.130700,-3.783700,214004.0,208432.0,2021-06-15,30440373,"[52.1307, -3.7837]"

In [33]:
Final_df.rename(columns={'index':'Code'}, inplace= True)
Final_df

/Users/Anina/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Code,city,province_state,country_region,lat,long,confirmed_cases,cases_per_day,last_update,people_fully_vaccinated,coordinates
0,357,None,Andalusia,Spain,37.544300,-4.727800,541843.0,521644.0,2021-04-25,3947465,"[37.5443, -4.7278]"
1,358,None,Aragon,Spain,41.597600,-0.905700,116374.0,109179.0,2021-04-25,3947465,"[41.5976, -0.9057]"
2,359,None,Asturias,Spain,43.361400,-5.859300,50028.0,47027.0,2021-04-25,3947465,"[43.3614, -5.8593]"
3,360,None,Baleares,Spain,39.710358,2.995148,58885.0,56554.0,2021-04-25,3947465,"[39.710358, 2.995148]"
4,361,None,C. Valenciana,Spain,39.484000,-0.753300,389344.0,372129.0,2021-04-25,3947465,"[39.484, -0.7533]"
...,...,...,...,...,...,...,...,...,...,...,...
289113,1610287,None,Isle of Man,United Kingdom,54.236100,-4.548100,1599.0,4.0,2021-06-15,30440373,"[54.2361, -4.5481]"
289114,1610289,None,Northern Ireland,United Kingdom,54.787700,-6.492300,123866.0,121711.0,2021-06-15,30440373,"[54.7877, -6.4923]"
289115,1610291,None,Scotland,United Kingdom,56.490700,-4.202600,247541.0,239860.0,2021-06-15,30440373,"[56.4907, -4.2026]"
289116,1610292,None,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,2423.0,16.0,2021-06-15,30440373,"[21.69400000000001, -71.7979]"
289117,1610293,None,Wales,United Kingdom,52.130700,-3.783700,214004.0,208432.0,2021-06-15,30440373,"[52.1307, -3.7837]"

In [34]:
merged_df = Final_df.merge(Predict_df, on=['Code'])
merged_df

,Code,city,province_state,country_region,lat,long,confirmed_cases,cases_per_day,last_update,people_fully_vaccinated,coordinates,Real Values,Predicted Values
0,357,None,Andalusia,Spain,37.544300,-4.727800,541843.0,521644.0,2021-04-25,3947465,"[37.5443, -4.7278]",541843.0,541773.65
1,358,None,Aragon,Spain,41.597600,-0.905700,116374.0,109179.0,2021-04-25,3947465,"[41.5976, -0.9057]",116374.0,116466.25
2,359,None,Asturias,Spain,43.361400,-5.859300,50028.0,47027.0,2021-04-25,3947465,"[43.3614, -5.8593]",50028.0,50075.75
3,360,None,Baleares,Spain,39.710358,2.995148,58885.0,56554.0,2021-04-25,3947465,"[39.710358, 2.995148]",58885.0,58873.45
4,361,None,C. Valenciana,Spain,39.484000,-0.753300,389344.0,372129.0,2021-04-25,3947465,"[39.484, -0.7533]",389344.0,389291.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
289113,1610287,None,Isle of Man,United Kingdom,54.236100,-4.548100,1599.0,4.0,2021-06-15,30440373,"[54.2361, -4.5481]",1599.0,1599.00
289114,1610289,None,Northern Ireland,United Kingdom,54.787700,-6.492300,123866.0,121711.0,2021-06-15,30440373,"[54.7877, -6.4923]",123866.0,123845.65
289115,1610291,None,Scotland,United Kingdom,56.490700,-4.202600,247541.0,239860.0,2021-06-15,30440373,"[56.4907, -4.2026]",247541.0,247702.35
289116,1610292,None,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,2423.0,16.0,2021-06-15,30440373,"[21.69400000000001, -71.7979]",2423.0,2423.00
289117,1610293,None,Wales,United Kingdom,52.130700,-3.783700,214004.0,208432.0,2021-06-15,30440373,"[52.1307, -3.7837]",214004.0,213961.25

In [35]:
Final_merged_df = merged_df.drop(['Code'], axis=1)
Final_merged_df

,city,province_state,country_region,lat,long,confirmed_cases,cases_per_day,last_update,people_fully_vaccinated,coordinates,Real Values,Predicted Values
0,None,Andalusia,Spain,37.544300,-4.727800,541843.0,521644.0,2021-04-25,3947465,"[37.5443, -4.7278]",541843.0,541773.65
1,None,Aragon,Spain,41.597600,-0.905700,116374.0,109179.0,2021-04-25,3947465,"[41.5976, -0.9057]",116374.0,116466.25
2,None,Asturias,Spain,43.361400,-5.859300,50028.0,47027.0,2021-04-25,3947465,"[43.3614, -5.8593]",50028.0,50075.75
3,None,Baleares,Spain,39.710358,2.995148,58885.0,56554.0,2021-04-25,3947465,"[39.710358, 2.995148]",58885.0,58873.45
4,None,C. Valenciana,Spain,39.484000,-0.753300,389344.0,372129.0,2021-04-25,3947465,"[39.484, -0.7533]",389344.0,389291.20
...,...,...,...,...,...,...,...,...,...,...,...,...
289113,None,Isle of Man,United Kingdom,54.236100,-4.548100,1599.0,4.0,2021-06-15,30440373,"[54.2361, -4.5481]",1599.0,1599.00
289114,None,Northern Ireland,United Kingdom,54.787700,-6.492300,123866.0,121711.0,2021-06-15,30440373,"[54.7877, -6.4923]",123866.0,123845.65
289115,None,Scotland,United Kingdom,56.490700,-4.202600,247541.0,239860.0,2021-06-15,30440373,"[56.4907, -4.2026]",247541.0,247702.35
289116,None,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,2423.0,16.0,2021-06-15,30440373,"[21.69400000000001, -71.7979]",2423.0,2423.00
289117,None,Wales,United Kingdom,52.130700,-3.783700,214004.0,208432.0,2021-06-15,30440373,"[52.1307, -3.7837]",214004.0,213961.25

In [ ]:
replacements = {
    'object':'varchar',
    'float64':'decimal',
    'datetime64[ns]':'date',
    'int64':'int'
}

In [ ]:
col_str = ", ".join("{} {}".format(n, d) for (n, d) in zip(Final_merged_df.columns, Final_merged_df.dtypes.replace(replacements)))
col_str

In [ ]:
conn = psycopg2.connect(
        host = hostname,
        dbname = database,
        user = username,
        password = pwd, 
        port = port_id)
print("database opened successfully")

cursor = conn.cursor()

cursor.execute("Create Table covid19_predictions \
(City varchar, Province_State varchar, Country_Region varchar, Lat decimal, Long decimal, Confirmed_Cases decimal, Cases_Per_Day decimal, Last_Update date, people_fully_vaccinated int, Coordinates varchar,Real_Values decimal,Predicted_Values decimal)")

In [ ]:
#Save to CSV file 
Final_merged_df.to_csv('COVID_19_Predictions.csv', header=Final_merged_df.columns, index=False, encoding='utf-8')

my_file = open('COVID_19_Predictions.csv')
print('file opened in memory')

In [ ]:
#upload to Postgres
SQL_STATEMENT = """
COPY covid19_predictions FROM STDIN WITH
    CSV
    HEADER
    DELIMITER AS ','
"""

cursor.copy_expert(sql=SQL_STATEMENT, file=my_file)
print('file copied to db')

In [ ]:
cursor.execute("grant select on table covid19_predictions to public")
conn.commit()
cursor.close()
print('covid19_predictions imported to DB completed')