In [1]:
import requests
import shutil
import datetime
import os
import pandas as pd

In [2]:
!ls

COVID_19_Clean_data1.csv       csse_covid_19_data
COVID_19_Data.ipynb            daily_reports2
COVID_19_test_code.ipynb       people_fully_vaccinated.csv
README.md                      test_sample
Test_data.ipynb                test_sample_data3.csv
Untitled.ipynb                 who_covid_19_situation_reports
archived_data

In [8]:
#folder_path_script='D:/COVI/python/scripts/'
folder_path_download='daily_reports2'

#https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports
# os.makedirs('dir-to-create',exist_ok=True) enables the mkdir -p functionality [mkdir -p functionality in Python [duplicate]](https://stackoverflow.com/questions/600268/mkdir-p-functionality-in-python)
os.makedirs(folder_path_download, exist_ok=True)

# -----------------------------------------------------------------------------------
dates=[datetime.datetime(2020,1,22)+datetime.timedelta(dval) for dval in range(0,10)];
# -----------------------------------------------------------------------------------
print('starting')
os.chdir(folder_path_download)
# Download daily added CSV files from https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports
for dateval in dates:
    url_string = 'https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_daily_reports/'+ dateval.strftime('%m-%d-%Y')+'.csv?raw=true'
    r= requests.get(url_string)
    df=pd.read_csv(url_string,index_col=0)
    df.to_csv(dateval.strftime('%m-%d-%Y')+".csv")
    display(df.head())
        
#     if r.status_code == 200:
#         print('running')
#         with open(dateval.strftime('%m-%d-%Y')+".csv", 'wb') as f:
            
#             #r.raw.decode_content = True
#             print(r.content())
#             # shutil.copyfileobj(fsrc, fdst[, length])
#             ## fsrc: A file-like object representing the source file to be copied
#             ## fdst: A file-like object representing the destination file, where fsrc will be copied.
#             shutil.copyfileobj(r.raw, f)
# print('success')

os.chdir('..')

starting

                Country/Region      Last Update  Confirmed  Deaths  Recovered
Province/State
Anhui           Mainland China  1/22/2020 17:00        1.0     NaN        NaN
Beijing         Mainland China  1/22/2020 17:00       14.0     NaN        NaN
Chongqing       Mainland China  1/22/2020 17:00        6.0     NaN        NaN
Fujian          Mainland China  1/22/2020 17:00        1.0     NaN        NaN
Gansu           Mainland China  1/22/2020 17:00        NaN     NaN        NaN

                Country/Region    Last Update  Confirmed  Deaths  Recovered
Province/State
Anhui           Mainland China  1/23/20 17:00        9.0     NaN        NaN
Beijing         Mainland China  1/23/20 17:00       22.0     NaN        NaN
Chongqing       Mainland China  1/23/20 17:00        9.0     NaN        NaN
Fujian          Mainland China  1/23/20 17:00        5.0     NaN        NaN
Gansu           Mainland China  1/23/20 17:00        2.0     NaN        NaN

                Country/Region    Last Update  Confirmed  Deaths  Recovered
Province/State
Hubei           Mainland China  1/24/20 17:00      549.0    24.0       31.0
Guangdong       Mainland China  1/24/20 17:00       53.0     NaN        2.0
Zhejiang        Mainland China  1/24/20 17:00       43.0     NaN        1.0
Beijing         Mainland China  1/24/20 17:00       36.0     NaN        1.0
Chongqing       Mainland China  1/24/20 17:00       27.0     NaN        NaN

                Country/Region    Last Update  Confirmed  Deaths  Recovered
Province/State
Hubei           Mainland China  1/25/20 17:00      761.0    40.0       32.0
Guangdong       Mainland China  1/25/20 17:00       78.0     NaN        2.0
Zhejiang        Mainland China  1/25/20 17:00       62.0     NaN        1.0
Chongqing       Mainland China  1/25/20 17:00       57.0     NaN        NaN
Hunan           Mainland China  1/25/20 17:00       43.0     NaN        NaN

                Country/Region    Last Update  Confirmed  Deaths  Recovered
Province/State
Hubei           Mainland China  1/26/20 16:00     1058.0    52.0       42.0
Guangdong       Mainland China  1/26/20 16:00      111.0     NaN        2.0
Zhejiang        Mainland China  1/26/20 16:00      104.0     NaN        1.0
Henan           Mainland China  1/26/20 16:00       83.0     1.0        NaN
Chongqing       Mainland China  1/26/20 16:00       75.0     NaN        NaN

                Country/Region    Last Update  Confirmed  Deaths  Recovered
Province/State
Hubei           Mainland China  1/27/20 23:59     1423.0    76.0       45.0
Guangdong       Mainland China  1/27/20 23:59      151.0     NaN        4.0
Zhejiang        Mainland China  1/27/20 23:59      128.0     NaN        1.0
Henan           Mainland China  1/27/20 23:59      128.0     1.0        NaN
Chongqing       Mainland China  1/27/20 23:59      110.0     NaN        NaN

                Country/Region    Last Update  Confirmed  Deaths  Recovered
Province/State
Hubei           Mainland China  1/28/20 23:00     3554.0   125.0       80.0
Guangdong       Mainland China  1/28/20 23:00      207.0     NaN        4.0
Zhejiang        Mainland China  1/28/20 23:00      173.0     NaN        3.0
Henan           Mainland China  1/28/20 23:00      168.0     1.0        NaN
Hunan           Mainland China  1/28/20 23:00      143.0     NaN        NaN

                Country/Region    Last Update  Confirmed  Deaths  Recovered
Province/State
Hubei           Mainland China  1/29/20 19:30     3554.0   125.0       88.0
Zhejiang        Mainland China  1/29/20 19:30      296.0     NaN        3.0
Guangdong       Mainland China  1/29/20 19:30      277.0     NaN        5.0
Hunan           Mainland China  1/29/20 19:30      221.0     NaN        NaN
Henan           Mainland China  1/29/20 19:30      206.0     2.0        1.0

                Country/Region    Last Update  Confirmed  Deaths  Recovered
Province/State
Hubei           Mainland China  1/30/20 16:00     4903.0   162.0       90.0
Zhejiang        Mainland China  1/30/20 16:00      428.0     NaN        4.0
Guangdong       Mainland China  1/30/20 16:00      354.0     NaN       10.0
Henan           Mainland China  1/30/20 16:00      278.0     2.0        2.0
Hunan           Mainland China  1/30/20 16:00      277.0     NaN        2.0

                Country/Region      Last Update  Confirmed  Deaths  Recovered
Province/State
Hubei           Mainland China  1/31/2020 23:59     5806.0   204.0      141.0
Zhejiang        Mainland China  1/31/2020 23:59      538.0     NaN       14.0
Guangdong       Mainland China  1/31/2020 23:59      436.0     NaN       11.0
Henan           Mainland China  1/31/2020 23:59      352.0     2.0        3.0
Hunan           Mainland China  1/31/2020 23:59      332.0     NaN        2.0

In [ ]:
..

In [ ]:
folder_path_script='/Users/Anina/Desktop/COVID-19'

In [ ]:
folder_path_script